{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        ScribblePad
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.css" /> <!-- Link to your CSS file -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />

    <style>
      /* Inline CSS styles can go here if needed */
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'posts' %}">ScribblePad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'user_profile' request.user.id %}">
                  {{ request.user.username|title }}
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_post' %}">Create a Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
              </li>
            {% endif %}
          </ul>
          <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search" name="q" />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 ScribblePad. All rights reserved.</p>
    </footer>
  </body>
</html>
